{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expenses' %}">
          Expenses
        </a>
      </li>
    </ul>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expense-category-summary' period='day' %}">
            Daily Summary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expense-category-summary' period='month' %}">
            Monthly Summary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expense-category-summary' period='year' %}">
            Yearly Summary
        </a>
      </li>
    </ul>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'daywise-expenses' %}">
            Day wise Reports
        </a>
      </li>
    </ul>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'monthly-report' %}">
            Monthly Report
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'monthwise-report' %}">
            Month wise Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'settings' %}">
            Settings
        </a>
      </li>
    </ul>
  </div>
</nav>
